<tr>
  <td class="feeditem">
    <span class="content"><%= feeditem.description %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feeditem.pubDate) %> ago.
    </span>
  </td>
</tr>
