<li class="feeditem<%= " read" if feeditem.read %>" id="<%= feeditem.id %>">
  
  <% if feeditem.read %>
  <span class="markUnread">Mark as Unread</span> 
  <% else %>
  <span class="markRead">Mark as Read</span>
  <% end %>

  <span class="content"><%= link_to feeditem.title, feeditem.link %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feeditem.pubDate) %> ago.
  </span>
</li>
